# macOS files
.DS_Store

# PHP Storm IDE settings
.idea

# Environment variables
.env

# Dependencies
node_modules/

# App config file
config-rpi².json

# Local archive
_archive/

# Local test
test/

# Rollup config
rollup.config.js

# Test packs
*.tgz

